/* :root {
    
} */

/* hero section */
#hero .container-fluid {
  background-image: url("../assets/images/VennDia.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
}

