<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            {{user.name}}
        </div>
        <div class="text">
            {{commentData}}
        </div>
    </section>
    {{/each}}
</div>