<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta"></div>
        <div class="text">
            {{post.commentData}}
        </div>

    </section>
    {{/each}}
</div>