<div class="container py-5 text-center">
    <h1 class="mb-4">Login</h1>
    <div class="row d-flex align justify-content-center h-100">
      <div class="card" style="max-width: 40rem;">
          <div class="card-body">
              <form id="login-form">
                  <!-- Email input -->
                  <div class="mb-4 mt-4">
                      <!-- <label for="formControlInput" class="form-label">Email address</label> -->
                      <input type="email" class="form-control" placeholder="Enter your email address" id="login-email">
                  </div>

                  <!-- Password input -->
                  <div class="mb-4">
                      <!-- <label for="formControlInput" class="form-label">Password</label> -->
                      <input type="password" class="form-control" placeholder="Enter password" id="login-password">
                      <button class="mt-2 btn btn-primary btn-lg">Sign In</button>
                  </div>
                  
                  <div class="d-flex align-items-center justify-content-center pb-4 pt-4">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <a href="/signup" class="btn btn-outline-danger" >Sign Up</a>
                  </div>
              </form>
          </div>
      </div>
    </div>
</div>
