<div class="container py-5">
    <h1 class="mb-4  text-center">Project</h1>
    <div class="row d-flex align justify-content-center h-100">
        <div class="card" style="max-width: 40rem;">
            <div class="card-body">
                <form id="project-form">
                    <div class="mb-4 mt-4">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Username" aria-label="username">
                            </div>
                        </div>

                        <div class="mb-4 mt-4">
                            <input type="text" id="post-title" class="form-control" placeholder="Title">
                        </div>
                        <div class="mb-4">
                            <label for="post-content" id="post-content-label" class="form-label"></label>
                            <textarea class="form-control" id="post-content" placeholder="Project description"
                                rows="3"></textarea>
                        </div>
                        {{!-- <div class="form-check skill-check">
                            <p>Select skills needed:</p>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                HTML
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                CSS
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                JavaScript
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                MySql
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                React
                            </label>
                        </div> --}}
                        <div class="mb-3 d-flex align-items-center justify-content-center pb-4 pt-4">

                            {{!-- {{#if id}}
                            <button id="update-post" type="submit" class="btn btn-primary">Update</button>
                            <button id="delete-post" type="submit" class="btn btn-danger">Delete</button> --}}
                            {{!-- {{else}} --}}
                            <button type="submit" class="mt-2 btn btn-primary btn-lg" id="subProj">Submit</button>
                            {{!-- {{/if}} --}}
                        </div>
                </form>

            </div>
            
        </div>
    </div>
</div>
</div>
