<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}}</p>
  <p>
    <span class="skills-needed">{{skills_needed}}</span>
    Skills needed
  </p>
  <p>
    <button class="btn btn-primary">Contribute to this project</button>
  </p>
</div>
