{{#each projects as |project|}}
<div class="all-projects">
    <div class="card project-card">
        <h3>{{project.proj_name}} by {{user.name}}</h3>
        <p>{{project.summary}}</p>
        <div class="languages-needed">
            <h5>Languages needed: {{project.language}}</h5>
        </div>
    </div>

</div>
{{/each}}