<div class="container py-5">
  <h1 class="mb-4 text-center">Sign Up</h1>
  <div class="row d-flex align justify-content-center h-100">
    <div class="card" style="max-width: 40rem;">
      <div class="card-body">
        <form id="signup">
          <div class="mb-4 mt-4">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Enter the Username" id="signup-name"
                  aria-label="Username">
              </div>
            </div>

            <div class="mb-4 mt-4">
              <!-- <label for="formControlInput" class="form-label">Email address</label> -->
              <input type="email" class="form-control" placeholder="Enter your email address" id="signup-email">
            </div>

            <!-- Password input -->
            <div class="mb-4">
              <!-- <label for="formControlInput" class="form-label">Password</label> -->
              <input type="password" class="form-control" placeholder="Enter password" id="signup-password">
              <br>
              <br>

              <div class="form-check">
                <p>Select your current skills:</p>
                <input class="form-check-input" type="checkbox" value="" id="skills">
                <label class="form-check-label" for="skills">
                  HTML
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="skills1">
                <label class="form-check-label" for="skills1">
                  CSS
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="skills2">
                <label class="form-check-label" for="skills2">
                  JavaScript
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="skills3">
                <label class="form-check-label" for="skills3">
                  MySql
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="skills4">
                <label class="form-check-label" for="skills4">
                  React
                </label>
              </div>
              {{!-- apply conditional for checked boxes in js file --}}
              {{!-- <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  Checked checkbox
                </label>
              </div> --}}
              <div class="d-flex align-items-center justify-content-center pb-4 pt-4">
                <button id=" signup-form" type="submit" class="btn btn-primary" class="center">Sign up</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

