<div class="container py-5">
  <h1 class="mb-4 text-center">Sign Up</h1>
  <div class="row d-flex align justify-content-center h-100">
    <div class="card" style="max-width: 40rem;">
      <div class="card-body">
        <form id="signup">
          <div class="mb-4 mt-4">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Enter the Username" id="signup-name"
                  aria-label="Username">
              </div>
            </div>

            <div class="mb-4 mt-4">
              <!-- <label for="formControlInput" class="form-label">Email address</label> -->
              <input type="email" class="form-control" placeholder="Enter your email address" id="signup-email">
            </div>

            <!-- Password input -->
            <div class="mb-4">
              <!-- <label for="formControlInput" class="form-label">Password</label> -->
              <input type="password" class="form-control" placeholder="Enter password" id="signup-password">
              <br>
              <br>
            </div>
            <div id='skill-check'>
              <div class="form-check">
                <p>Select your current skills:</p>
                <input class="form-check-input" name='html'type="checkbox" value="html" id="html">
                <label class="form-check-label" for="skill1">
                  HTML
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name = 'css'type="checkbox" value="css" id="css">
                <label class="form-check-label" for="css">
                  CSS
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name = 'javascript'type="checkbox" value="javascript" id="javascript">
                <label class="form-check-label" for="javascript">
                  JavaScript
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name = 'mysql' type="checkbox" value="mysql" id="mysql">
                <label class="form-check-label" for="mysql">
                  MySql
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name = 'react'type="checkbox" value="react" id="react">
                <label class="form-check-label" for="react">
                  React
                </label>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-center pb-4 pt-4">
              <button type="submit" class="btn btn-primary" class="center">Sign up</button>
            </div>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>
