<div class="column">
<h2 class="title pb-4">create new account:</h2><hr>
<form class="signup-form">
  <div>
    <label for="signup-name">username:</label>
    <input type="text" id="signup-name"/>
  </div>
  <div>
    <label for="signup-email">email:</label>
    <input type="text" id="signup-email" />
  </div>
    <label for="signup-password">password:</label>
    <input type="password" id="signup-password" />
  </div>
  <div>
    <button type="submit" class="signup-form">signup</button>
  </div>
</form>
</div>

<!-- javascript file-->
<script src="/js/signup.js"></script>

